:root {
    --webpage-bg: #2E2E2E;  
    --primary-bg: #000;  
    --text-color: #fff; 
    --highlight-color: #333;  
}

body {
    background-color: var(--webpage-bg);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.grid {
    display: flex;
    flex-direction: column;  
    gap: 1rem;
    padding: 2rem;
}

.box {
    background-color: var(--primary-bg);
    padding: 1rem;
    border-radius: 8px;
    height: calc(2 * (100% / 6)); 
    transition: transform 0.3s ease-in-out;
}

.box h2 {
    color: var(--text-color);
    margin-top: 0; 
}

.box:hover {
    transform: scale(1.05);
}

.snippet {
    user-select: all;
    white-space: pre-wrap;
    background-color: var(--primary-bg);  
    padding: 1rem;
    border-radius: 4px;
    color: var(--text-color);
    outline: none;
}

.snippet:focus {
    background-color: var(--highlight-color);
}

@media (max-width: 992px) {
    .box {
        width: calc(50% - 1rem);
    }
}

@media (max-width: 768px) {
    .box {
        width: 100%;
    }
}